name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, pdo_mysql
          coverage: none

      - name: Install Composer deps
        run: composer install --prefer-dist --no-interaction

      - name: Copy .env
        run: cp .env.example .env

      - name: Generate app key
        run: php artisan key:generate

      - name: Run Pint
        run: vendor/bin/pint --test

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '22.18.0'

      - name: Install node deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Run Tests
        run: php artisan test
